.Home .lander {
    padding: 70px 0 40px 0;
    text-align: center;
  }
  
  .Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
  
  .Home .lander p {
    color: #999;
  }

  .ant-card-wider-padding .ant-card-head {
    font-size: 20px;
  }

  .ant-card-contain-grid:not(.ant-card-loading) .ant-card-body {
    font-size: 22px;
  }

  .ant-card-grid {
    border: 15px solid #e8e8e8;
    padding: 60px;

  }