a {
  color: #61dafb;
  text-decoration: none;
}

.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

.menu-box {
  display: flex;
  flex-direction: row;
  line-height: 3.5
}
.avatar-img {
  width: 43%;
  border-radius: 50%;
}

.galahs {
  width:15%;
  border-radius: 50%;
}