a {
  color: #61dafb;
  text-decoration: none;
}

.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

.menu-box {
  display: inline-flex;
  flex-direction: row;
  line-height: 3.5;
  margin-left: 10px;
  max-width: 30%;
}
.avatar-img {
  /* width: 40%; */
  width:70%;
  border-radius: 50%;
}

.galahs {
  width:15%;
  border-radius: 50%;
}